<br/>
<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <fieldset class="border-top">
          <legend><span class="text">Datos principales</span></legend>
          <dl class="dl-horizontal left">
            <dt>Denominacion:</dt>
            <dd data-ng-bind="view.caja.denominacion"></dd>
            <dt>Abreviatura:</dt>
            <dd data-ng-bind="view.caja.abreviatura"></dd>
            <dt>Abierto:</dt>
            <dd data-ng-bind="view.caja.estadoMovimiento | si_no : 'Abierto' | uppercase"></dd>
            <dt>Estado boveda:</dt>
            <dd data-ng-bind="view.caja.estado | si_no : 'Activo' | uppercase"></dd>
          </dl>
        </fieldset>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <fieldset class="border-top">
          <legend><span class="text">Bovedas asignadas</span></legend>
          <table class="table table-striped table-bordered">
            <thead>
            <tr>
              <th>#</th>
              <th>Boveda</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="item in view.load.bovedas">
              <td data-ng-bind="$index"></td>
              <td data-ng-bind="item.denominacion"></td>
            </tr>
            </tbody>
          </table>
        </fieldset>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <fieldset class="border-top">
          <legend><span class="text">Trabajadores asignados</span></legend>
          <table class="table table-striped table-bordered">
            <thead>
            <tr>
              <th>#</th>
              <th>Trabajador</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="item in view.load.trabajadores">
              <td data-ng-bind="$index"></td>
              <td data-ng-bind="item.personaNatural.apellidoPaterno"></td>
            </tr>
            </tbody>
          </table>
        </fieldset>
      </div>
    </div>
  </div>
</div>
