<h1><strong>Cerrar caja</strong></h1>

<div data-ng-repeat="item in view.error.pendiente" class="alert alert-danger">
  <span class="pficon pficon-error-circle-o"></span>
  <strong>!Dinero faltante o sobrante en {{item.boveda}}!</strong> Si desea crear un pendiente <a href="#" data-ng-click="crearPendiente(item)" class="alert-link">haga click aqui</a>.
</div>

<form name="form" data-ng-submit="submit()" novalidate>

  <div class="form-group">
    <label class="col-md-2 control-label">Denominaciones: <i class="fa fa-question-circle text-muted" tooltip="Denominaciones con las que se cerrara la caja." tooltip-placement="right"></i></label>
    <div class="col-md-9">
      <p ng-if="!view.load.detalleHistorialActivo.length">No se encontro detalle de caja, asegurese de tener abierta la caja; sino pongase en contacto con su administrador.</p>

      <uib-tabset>
        <uib-tab data-ng-repeat="tab in view.load.detalleHistorialActivo" heading="{{tab.moneda.denominacion}}">
          <div class="row">
            <div class="col-sm-6">
              <table class="table table-bordered table-striped table-condensed table-hover">
                <thead>
                <tr>
                  <th width="5%" class="text-right">#</th>
                  <th width="15%" class="text-right">Valor</th>
                  <th width="30%" class="text-right">Cantidad</th>
                  <th class="text-right">Sub total</th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="item in ::tab.detalle | orderBy: 'valor'">
                  <td class="text-right" style="height: 33px;"><span ng-bind="$index+1"></span></td>
                  <td class="text-right"><span ng-bind="::item.valor | currency: ''"></span></td>
                  <td class="text-right"><span ng-bind="::item.cantidad"></span></td>
                  <td class="text-right">
                    <span ng-bind="::tab.moneda.simbolo"></span>
                    &nbsp;
                    <span ng-bind="::item.subtotal() | currency: ''"></span>
                  </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                  <th rowspan="1" colspan="3" class="text-right">TOTAL:</th>
                  <th rowspan="1" colspan="1" class="text-right">
                    <span ng-bind="::tab.moneda.simbolo"></span>
                    &nbsp;
                    <span ng-bind="::getTotal(tab.detalle) | currency : ''"></span>
                  </th>
                </tr>
                </tfoot>
              </table>
            </div>
            <div class="col-sm-6">
              <table class="table table-bordered table-striped table-condensed table-hover">
                <thead>
                <tr>
                  <th width="5%" class="text-right">#</th>
                  <th width="60px" class="text-right">Valor</th>
                  <th width="120px" class="text-right">Cantidad</th>
                  <th class="text-right">Sub total</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in ::tab.detalle | orderBy: 'valor'">
                  <td class="text-right" style="height: 33px;"><span ng-bind="$index+1"></span></td>
                  <td class="text-right" style="height: 33px;">
                    <span ng-bind="::item.valor | currency: ''"></span>
                  </td>
                  <td class="text-right">
                    <ng-form name="form">
                      <div class="form-group" ng-class="{ 'has-error' : form.cantidad.$invalid }" style="margin: 0;">
                        <input type="text" name="cantidad" ng-model="item.cantidad"
                               ui-number-mask="0" min="0" max="999999999"
                               ng-minlength="1" ng-maxlength="11" class="form-control"
                               placeholder="Cantidad" required
                               style="text-align: right;"/>
                      </div>
                    </ng-form>
                  </td>
                  <td class="text-right">
                    <span ng-bind="::tab.moneda.simbolo"></span>
                    &nbsp;
                    <span ng-bind="item.subtotal() | currency: ''"></span>
                  </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                  <th rowspan="1" colspan="3" class="text-right">TOTAL:</th>
                  <th rowspan="1" colspan="1" class="text-right">
                    <span ng-bind="::tab.moneda.simbolo"></span>
                    &nbsp;
                    <span ng-bind="getTotal(tab.detalle) | currency : ''"></span>
                  </th>
                </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </uib-tab>
      </uib-tabset>
    </div>
  </div>


  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button sg-save ng-disabled="working">
        <span ng-show="working">Guardando...</span>
        <span ng-hide="working">Guardar</span>
      </button>
      <button sg-cancel ng-disabled="working" ui-sref="^.buscar">Cancelar</button>
    </div>
  </div>
  <br/>
</form>

