<fieldset class="border-top">
  <legend><span class="text ng-scope">Nueva chequera <i class="fa fa-question-circle text-muted ng-scope"
                                                    tooltip="Ingrese datos para asignar una nueva chequera."
                                                    tooltip-placement="right"></i></span></legend>
  <form name="form" class="form-horizontal" novalidate>
    <div class="form-group"
         data-ng-class="{ 'has-error' : (form.tipoDocumento.$invalid || form.numeroDocumento.$invalid ) && (form.numeroDocumento.$dirty )}">
      <label class="col-sm-2 control-label"><span class="required">*</span> Cantidad de cheques:</label>
      <div class="col-sm-3">
        <ui-select name="cantidad" data-ng-model="combo.selected.cantidad" pf-focused="true" autofocus required>
          <ui-select-match placeholder="Cantidad de cheques">{{$select.selected}}</ui-select-match>
          <ui-select-choices repeat="item in combo.cantidad | filter: $select.search">
            <div data-ng-bind-html="item | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
        <div data-ng-messages="form.cantidad.$error" data-ng-if="form.$submitted">
          <div class="has-error" data-ng-message="required">Ingrese cantidad.</div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="input-group">
          <button sg-save ng-disabled="working">
            <span ng-show="working">Guardando...</span>
            <span ng-hide="working">Guardar</span>
          </button>
        </div>
      </div>
    </div>
  </form>

  <br/>
</fieldset>

<fieldset class="border-top">
  <legend><span class="text ng-scope">Chequeras registradas <i class="fa fa-question-circle text-muted ng-scope"
                                                    tooltip="Lista de chequeras registradas para la cuenta personal."
                                                    tooltip-placement="right"></i></span></legend>
  <table class="table table-striped table-bordered table-condensed">
    <caption data-ng-show="!view.load.chequeras.length">No se encontraron chequeras.</caption>
    <thead data-ng-show="view.load.chequeras.length">
    <tr>
      <th>#</th>
      <th>Fecha entrega</th>
      <th>Fecha expiracion</th>
      <th>Cantidad de cheques</th>
      <th>Numero de cheque inicio</th>
      <th>Numero de cheque fin</th>
      <th>Estado</th>
      <th>Edit</th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="item in view.load.chequeras">
      <td><span data-ng-bind="$index+1"></span></td>
      <td><span ng-bind="item.fechaDisponible | date: 'dd/MM/yyyy'"></span></td>
      <td><span ng-bind="item.fechaExpiracion | date: 'dd/MM/yyyy'"></span></td>
      <td><span ng-bind="item.cantidad | number : 0"></span></td>
      <td><span ng-bind="item.numeroInicio | number : 0"></span></td>
      <td><span ng-bind="item.numeroFin | number : 0"></span></td>
      <td><span ng-bind="item.estado | si_no : 'ACTIVO'"></span></td>
      <td style="text-align: center">
        <button type="button" data-ng-click="edit(item)" class="btn btn-info btn-xs">Editar</button>
      </td>
    </tr>
    </tbody>
  </table>
</fieldset>
